PGHOST=host.docker.internal
PGPORT=5432
PGDATABASE=your_database
PGUSER=your_user
PGPASSWORD=your_password

GITHUB_TOKEN=github_pat_xxxxx
DEFAULT_OWNER=your_github_owner
DEFAULT_REPOSITORY=your_github_repository
